@model IEnumerable<GameDecider.Controllers.IgdbGame>

@{
    ViewBag.Title = "Search Results";
}

<br />
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
@Html.Label("Search: "); @Html.TextBox("gamesearch"); <input type="submit" value="Search" />
}

<h1>Results</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release_date)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
            </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.release_date)
        </td>
        @if (Request.IsAuthenticated)
        {
            <td>
                <a href='@Url.Action("AddGame", new { id = item.id })' class="add-modal">Add Game</a>
            </td>
        }
    </tr>
}

</table>

<script src="~/Scripts/jquery-ui-1.11.4.min.js" type="text/javascript">
    $.ajaxSetup({ cache: false });

    $(document).ready(function () {
        $("a.add-modal").live("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: "hi",
                    close: function () { $(this).remove(); },
                    modal: true,
                    height: 250,
                    width: 400
                })
                .load(this.href);
        });
    });
</script>