@model IEnumerable<GameDecider.Models.IgdbGame>

@{
    ViewBag.Title = "Search Results";
}
<br />
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    @Html.Label("Search: "); @Html.TextBox("gamesearch"); <input type="submit" value="Search" />
}

<h1>Results</h1>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release_date)
        </th>
        @if (Request.IsAuthenticated)
        {
            <th>
            </th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href=@HelperFuncs.CreateUrl(item.name) style="color: #1c7d44;" title="Click to view game info on IGDB" target="_blank"><b>@Html.DisplayFor(modelItem => item.name)</b></a>
        </td>
        <td>
            @if (item.release_date != null)
            {
                @item.release_date.Value.ToShortDateString();
            }
        </td>
        @if (Request.IsAuthenticated)
        {
            <td>
                <a id="add-link" title="Add game to your account" href="#" style="color: #1c7d44" onclick="javascript:ShowDialog('@item.id')">Add Game</a>
            </td>
        }
    </tr>
}
</table>

<div id="add-dialog"></div>

@section scripts
{
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });

        function ShowDialog(id)
        {
            $("#add-dialog").dialog({
                autoOpen: true,
                title: "Select Platform",
                closeText: '',
                draggable: false,
                resizable: false,
                height: 400,
                width: 350,
                modal: true,
                open: function () {
                    url = "@Url.Action("AddGame", new { id_str = "JSVar" })";
                    url = url.replace("JSVar", id);
                    $(this).load(url);
                },
            });
        }
    </script>

    @if (ViewBag.Status != null)
        {
        <script type="text/javascript">
            var msg = '@ViewBag.Status';
            $(document).ready(function () {
                toastr.options = { "positionClass": "toast-bottom-full-width", "timeOut": "3000" };
                if (msg == "##Added!") {
                    toastr.success('Game Added!');
                    return false;
                }
                if (msg == "##Duplicate!") {
                    toastr.info('You have already added this game');
                    return false;
                }
                if (msg == "##Failed!") {
                    toastr.error('Failed to add game');
                    return false;
                }
                
            });
        </script>
    }

}