@model GameDecider.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<head>
    <link href="@Url.Content("~/Content/manageview.css")" rel="stylesheet" />
</head>
<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>
        *@
    </dl>
</div>

<div>
    <h2>My Games</h2>
    <table id="mygames">
        <thead>
            <tr>
                <th class="sortable">Name<div class="right"><div class="arrow-up"></div><div class="arrow-down"></div></div></th>
                <th class="sortable">Platform</th>
                <th class="sortable">Favorited</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.Games.Count; i++)
            {
                <tr>
                    <td>
                        <a href=@HelperFuncs.CreateUrl(@ViewBag.Games[i].GameID.GameName) style="color: #1c7d44;" title="Click to view game info on IGDB" target="_blank"><b>@ViewBag.Games[i].GameID.GameName</b></a>
                    </td>
                    <td>@ViewBag.Games[i].PlatformName.Name</td>
                    
                    @using (Html.BeginForm("FavoriteGame", "Manage", new { user_game_id = ViewBag.Games[i].UserVideoGameID }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        if (ViewBag.Games[i].Favorite == true)
                        {
                            <td><button class="favBtn" title="Remove from favorites">Yes</button></td>
                        }
                        else
                        {
                            <td><button class="favBtn" title="Favorite this game">No</button></td>
                        }
                    }
                    <td class="icon">
                        @using (Html.BeginForm("RemoveGame", "Manage", new { user_game_id = @ViewBag.Games[i].UserVideoGameID }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <button type="submit" style="border:none; background:transparent;">
                                <div class="ui-state-default ui-corner-all" title="Remove game from account">
                                   <span id="closeIcon" class="ui-icon ui-icon-closethick"></span>
                                </div>
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mygames').tablesorter({ headers: { 3: { sorter: false } } });
            $('button[type=submit]').button({ icons: { primary: 'ui-icon-closethick' } });
        });
    </script>

    <script type="text/javascript">
       function RemoveGame(id) {
           var url = "@Url.Action("RemoveGame", new { user_game_id = "JSVAR"})";
           url = url.replace("JSVAR", id);
           $(this).load(url);
        }
    </script>
}